<div class="">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
            <img src="assets/logo.png" width="50" height="50" alt="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Pharmacist Dashboard<span class="sr-only">(current)</span></a>
                    </li>
        
                </ul>
        
        
                
            </div>
        </nav>
        </div>
    
    <app-pharmacist-sidebar></app-pharmacist-sidebar>
    <div class="offset-2">
        <h3>view cart</h3>
    </div>
