<br>
<br>

<div class="container ">
    <div class="card">
        <div class="card-header">
            <h3>Reset Password</h3>
        </div>
        <div class="card-body">
            <p>Please enter your email address to request a password reset.</p>

            <div class="formGroup">
                <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
            </div>
            <br>
            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup">
                <input type="submit" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>
            <br>
            <div class="redirectToLogin">
                <span>Go back to ? <span class="redirect" routerLink="/login" class="text-primary">Sign In</span></span>
            </div>
        </div>
    </div>
</div>