<div class="sidebar-container">
    <div class="sidebar-logo">
        EPharma
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Navigation</li>
        <li>
            <a routerLink="/user">
                <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
        </li>
        <li>
            <a routerLink="/order">
                <i class="fa fa-star" aria-hidden="true"></i> Order Drugs
            </a>
        </li>
        <li>
            <a routerLink="/cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> View Cart
            </a>
        </li>

        <li>
            <a routerLink="/pharmacy-report">
                <i class="fa fa-home" aria-hidden="true"></i> Report
            </a>
        </li>

        <li class="header">Another Menu</li>
        <li>
            <a routerLink="/expired-drugs">
                <i class="fa fa-info-circle" aria-hidden="true"></i> View Expired Drugs
            </a>
        </li>
        <li>
            <a routerLink="/chatroom">
                <i class="fa fa-comments" aria-hidden="true"></i> Chat box
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-usd" aria-hidden="true"></i> Payments
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i> About us info
            </a>
        </li>
    </ul>
</div>