<div class="d-flex justify-content-between">
    <h4>View Order Details</h4>
    <button (click)="onClose()"><i class="fa fa-close" aria-hidden="true"></i>
    </button>
</div>
<div class="border">
    <div>
        <p>Brand Name => </p>
        <p>Brand Name => </p>
        <p>Brand Name => </p>
        <p>Brand Name => </p>
        <p>Brand Name => </p>
        <p>Brand Name => </p>
        <button type="button" class="btn btn-submit" (Click) = "delever(a.id)">Submit</button>
    </div>
</div>