<nav class="navbar fixed-top navbar-dark  bg-dark navbar-expand-lg navbar-light bg-light">
    <img src="assets/logo.png" width="50" height="50" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">My Chat<span class="sr-only">(current)</span></a>
            </li>

        </ul>


        <ul class="nav navbar-nav ml-auto">

            <li class="nav-item dropdown" dropdown placement="bottom right">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                    <img src="../../assets/b.jpg" class="avatar" />
                </a>

                <div class="dropdown-menu dropdown-menu-right" dropdown placement="bottom right" id="navbarSupportedContent">
                    <a class="dropdown-item" (click)="viewUserDetails(item)" href="#"><i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" (click)="logout()" href="#"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<br>
<br>
<br>
<br>
<br>




<div class="mag list">
    <div class="container ">
        <div class='card' style="background-color: darkslateblue;">
            <h1 class="card-header text-center">MESSAGES</h1>

            <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column">

                <div class="row col-md-6 ">

                    <div class="card-body" style="background: steelblue; width: 5rem;">

                        <h5 class="card-title">{{item.payload.doc.data().from}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{item.payload.doc.data().time.seconds * 1000 | date:'MM-dd-yyyy h:mm:ss a' }}</h6>
                        <p class="card-text">{{item.payload.doc.data().data}}</p>
                        <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
                        <button type="button" class="btn btn-primary" (click)="delete(item.payload.doc.id)">Delete</button>

                    </div>


                </div>

                <!-- <div *ngIf="this.alignRight" class="row col-md-6 float-right" >
        
          <div class="card-body"  style="background: steelblue; width: 5rem;" >
            
            <h5 class="card-title">{{item.payload.doc.data().from}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{item.payload.doc.data().time.seconds * 1000 | date:'MM-dd-yyyy h:mm:ss a' }}</h6>
            <p class="card-text">{{item.payload.doc.data().data}}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> -->
            </div>














            <!-- <div class="col-md-1 image-col">
          <img class="image" src="./../../../assets/img/building.jpg">
        </div>
        <div class="col-md-5 text-col">
          <h5 class="mb-1">{{item.payload.doc.data().data}}</h5>
          <small>{{item.payload.doc.data().from}}</small>
          <small>{{item.payload.doc.data().time}}</small>
        </div>
        <div class="col col-md-6 actions-col">
          <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">Profile</button> -->
            <!-- <button class="btn btn-outline-primary action" (click)="" type="button">Event
            Calendar</button>
          <button class="btn btn-outline-primary action" (click)="" type="button">Delete</button> -->
            <!-- </div> -->
            <!-- </div>
    </div>
  </div>
   <div> -->

            <!-- <div class='container '>
           <div class="card">
        <h1 class="card-header text-center">MESSAGES</h1> -->
            <!-- display msgs  -->
            <!-- <div *ngFor="let item of temp;" class="card-body"> -->
            <!-- *ngIf="expression" -->
            <!-- <div class='card'  style="background-color: cornflowerblue;width: 350px;">
                <p class='card-header' style="color: blue;">name</p>
                <p>{{item}}</p>
                <p>time</p>
               </div>
            
           </div>

       <div class="card-footer"> -->
            <!-- send msgs -->
            <div>
                <input class="chatInput" [(ngModel)]="message" (keydown)="handleSubmit($event)" />

                <button class="chatButton " (click)="send()">Send</button>
            </div>
        </div>
    </div>
</div>