<div class="sidebar-container">
    <div class="sidebar-logo">
        EPharma
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Navigation</li>
        <li>
            <a routerLink="/admin_dashboard">
                <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
        </li>
        <li>
            <a routerLink="/user_list">
                <i class="fa fa-users" aria-hidden="true"></i> Users
            </a>
        </li>
        <li>
            <a routerLink="/show-drugs">
                <i class="fa fa-medkit" aria-hidden="true"></i> Drugs
            </a>
        </li>
        <li class="header">Another Menu</li>
        <li>
            <a href="#">
                <i class="fa fa-bell-o" aria-hidden="true"></i> Notification
            </a>
        </li>
        <li>
            <a routerLink="/chat-form">
                <i class="fa fa-comments" aria-hidden="true"></i> Chat box
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-usd" aria-hidden="true"></i> Payments
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i> About us info
            </a>
        </li>
    </ul>
</div>