<div class="sidebar-container">
    <div class="sidebar-logo">
        EPharma
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Navigation</li>
        <li>
            <a routerLink="/dealer_dashboard">
                <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
        </li>

        <li>
            <a routerLink="/add-inventory">
                <i class="fa fa-medkit" aria-hidden="true"></i>Post Drugs
            </a>
        </li>

        <li>
            <a routerLink="/list-inventory">
                <i class="fa fa-medkit" aria-hidden="true"></i>Drugs List
            </a>
        </li>
        <li>
            <a routerLink="/dealer-order">
                <i class="fa fa-medkit" aria-hidden="true"></i>Incoming Orders
            </a>
        </li>

        <li class="header">Another Menu</li>
        <li>
            <a href="#">
                <i class="fa fa-bell-o" aria-hidden="true"></i> Notification
            </a>
        </li>
        <li>
            <a routerLink="/chatroom">
                <i class="fa fa-comments" aria-hidden="true"></i> Chat box
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-usd" aria-hidden="true"></i> Payments
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i> About us info
            </a>
        </li>
    </ul>
</div>