<div class="container-fluid" style="background-color:#CDCDCD;">

    <br>
    <div class="container ">
        <form [formGroup]="inventoryForm">


            <div class="row">


                <div class="col-md-12 mb-2">
                    <label>Batch_No</label>
                    <input type="text" placeholder="xxxx" formControlName="batch_number" class="form-control"
                        [ngClass]="{'is-invalid' : a.batch_number.errors && isSubmit}" />

                    <div *ngIf="a.batch_number.errors" class="invalid-feedback">
                        <div *ngIf="a.batch_number.errors.required">Batch_No is required</div>
                        <div *ngIf="a.batch_number.errors.maxlength">Maximum 4 numbers</div>
                        <div *ngIf="a.batch_number.errors.minlength">minimum 4 numbers</div>
                        <div *ngIf="a.batch_number.errors.pattern">numeric Value</div>
                    </div>

                </div>
                <div class="col-md-12 mb-2">
                    <label>Local_id</label>
                    <input type="text" placeholder="xxxx" formControlName="local_id" class="form-control"
                        [ngClass]="{'is-invalid' : a.local_id.errors && isSubmit}">
                    <div class="invalid-feedback" *ngIf="a.local_id.errors">
                        <div *ngIf="a.local_id.errors.required">Local_id is required</div>
                        <div *ngIf="a.local_id.errors.maxlength">Maximum 4 numbers</div>
                        <div *ngIf="a.local_id.errors.minlength">minimum 4 numbers</div>
                        <div *ngIf="a.local_id.errors.pattern">numeric Value</div>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <label>Enter Date</label>
                    <input type="text" placeholder="yyyy-mm-dd" formControlName="last_added" class="form-control"
                        [ngClass]="{'is-invalid' : a.last_added.errors && isSubmit}">
                    <div class="invalid-feedback" *ngIf="a.last_added.errors">
                        <div *ngIf="a.last_added.errors.required">Date is required</div>
                        <div *ngIf="a.last_added.errors.pattern">Invalid date format(yyyy-mm-dd)</div>
                    </div>
                </div>
                <div class="col-md-12 mb-2 aaa">
                    <button type="submit" class="btn btn-success" (click)="submitInventoryData()">Place
                        Order</button>
                </div>

            </div>

        </form>
    </div>



</div>