<div class="container-fluid" style="background-color:#CDCDCD;">

    <br>
    <div class="container ">
        <form [formGroup]="inventoryForm">

            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="row">


                    <div class="col-md-12 mb-3">
                        <label>Batch_No</label>
                        <input type="text" formControlName="batch_number" class="form-control"
                            [ngClass]="{'is-invalid' : a.batch_number.errors && isSubmit}" />

                        <div *ngIf="a.batch_number.errors" class="invalid-feedback">
                            <div *ngIf="a.batch_number.errors.required">Batch_No is required</div>
                        </div>

                    </div>
                    <div class="col-md-12 mb-3">
                        <label>Local_id</label>
                        <input type="text" formControlName="local_id" class="form-control"
                            [ngClass]="{'is-invalid' : a.local_id.errors && isSubmit}">
                        <div class="invalid-feedback" *ngIf="a.local_id.errors">
                            <div *ngIf="a.local_id.errors.required">Local_id is required</div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-success" (click)="submitInventoryData()">Place
                            Order</button>
                    </div>

                </div>
            </div>
        </form>
    </div>



</div>