.product {
  text-align: left;
  outline: none;
  margin: 5px 0;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 2px 4px 8px 2px rgb(0, 0, 1);
  border-radius: 10px;
  border: thin;
  
}
.row{
    overflow: hidden;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(233, 11, 11);
}
.abc {
  margin-left: 240px;
  margin-top: 82px;
  overflow: hidden;
}
.btn {
  margin: 5px;
}
.abcd {
  border-radius: 10px;
  margin: 5px 0;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
