.abc {
  text-align: justify;
}
.colmn {
  width: 50%;
  padding: 5px;
}
.plus {
  background-color: rgb(73, 238, 73);
}
.min {
  background-color: #ee544a;
}


h3 {
  text-align: center;
}
.ab{
    margin-top: 10px;
}
