<div class="d-flex justify-content-between">
    <h4>Add Drug to Cart</h4>
    <button (click)="onClose()"><i class="fa fa-close" aria-hidden="true"></i>
    </button>
</div>
<div class="container abc">

    <div>
        <div class="row">
            <div class="colmn">
                <img src="./../../../assets/1.jpg" alt="Smiley face" height="200" width="200">
            </div>
            <div class="colmn">
                <h3>Details</h3>
                <p>NAME: {{drug.actIngreName}}</p>
                <p>BRAND: {{drug.brandName}}</p>
                <p>DEALER: {{drug.dealer}}</p>
                <p>QTY: {{this.qty}}</p>
                <p>QUANTITY </p>
                <p>
                    <button class="btn btn-primary" (click)="reduce()">-</button>
                    <input type="text" value="{{this.qty}}" disabled>
                    <button class="btn btn-primary" (click)="increce()">+</button>
                </p>
                <button class="btn btn-primary" (click)="onAdd()">ADD TO CART</button>
            </div>
        </div>
    </div>


</div>