<nav class="navbar fixed-top navbar-dark  bg-dark navbar-expand-lg navbar-light bg-light">
    <img src="assets/logo.png" width="50" height="50" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Expired Drugs<span class="sr-only">(current)</span></a>
            </li>

        </ul>

        <ul class="nav navbar-nav ml-auto">

            <li class="nav-item dropdown" dropdown placement="bottom right">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                    <img src="../../assets/b.jpg" class="avatar" />
                </a>

                <div class="dropdown-menu dropdown-menu-right" dropdown placement="bottom right" id="navbarSupportedContent">
                    <a class="dropdown-item" (click)="viewUserDetails(item)" href="#"><i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" (click)="logout()" href="#"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<app-pharmacist-sidebar></app-pharmacist-sidebar>
<br>

<style>
    .container_middle {
        height: 200px;
        width: 50%;
        /* background-color: powderblue; */
    }
</style>



<div class="container_middle" style="margin-left: 230px; width: auto;">
    <button class="btn btn-success" (click)="add()" style="margin-bottom: 20px; margin-top: 20px; margin-right:10px;">Add New</button>
    <button class="btn btn-primary" (click)="view()" style="margin-bottom: 20px; margin-top: 20px;">View Expired Items</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>a</th>
                <th>Drug Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Supplier</th>
                <th>Remarks</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let item of list">
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.drug_id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.supplier_name}}</td>
                <td>{{item.remarks}}</td>
                <td><button class="btn btn-warning" (click)="update(item.id)" style="margin:5px;">Edit</button>
                    <button class="btn btn-success" (click)="delete(item.id,item.inventory_id)" style="margin:5px;">Resolve</button >
        </td>
      </tr>
    </tbody>
  </table>
</div>