<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <img src="assets/logo.png" width="50" height="50" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Admin Dashboard<span class="sr-only">(current)</span></a>
            </li>

        </ul>


        <ul class="nav navbar-nav ml-auto">

            <li class="nav-item dropdown" dropdown placement="bottom right">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                    <img src="../../assets/b.jpg" class="avatar" />
                </a>

                <div class="dropdown-menu dropdown-menu-right" dropdown placement="bottom right" id="navbarSupportedContent">
                    <div class="dropdown-header text-center"><strong>{{user.email}}</strong></div>
                    <a class="dropdown-item" (click)="editUser()"><i class="fa fa-user"></i> Edit Profile</a>
                    <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<app-admin-sidebar></app-admin-sidebar>

<div class="col-md-10 float-right ">
    <br>
    <div class="animated fadeIn ">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-body pb-0">

                        <div>
                            <h3 class="text-center">Online Users </h3>
                        </div>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3 text-center" style="height:70px;">
                        <h3>{{this.TotOnlineUsers}}</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-body pb-0">

                        <div>
                            <h3 class="text-center">Unregistered Users </h3>
                        </div>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3 text-center" style="height:70px;">
                        <h3>{{this.TotUnregisteredUsers}}</h3>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-body pb-0">

                        <div>
                            <h3 class="text-center">Total Users </h3>
                        </div>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3 text-center" style="height:70px;">
                        <h3>{{this.totalUsers}}</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-body pb-0">

                        <div>
                            <h3 class="text-center">Total Drugs </h3>
                        </div>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3 text-center" style="height:70px;">
                        <h3>{{this.totalDrugs}}</h3>

                    </div>
                </div>
            </div>

        </div>
        <!-- card -->

        <br>
        <script src="node_modules/chart.js/src/chart.js"></script>

        <div class="card">

            <div class="card-body">
                <div class="row">

                    <div class="col-sm-5">
                        <h4 class="card-title mb-0">Prediction</h4>

                    </div>
                    <!--/.col-->

                    <div class="col-sm-7 d-none d-md-block">
                        <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
                        <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
                            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
                            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
                        </div>


                    </div>
                    <!--/.col-->

                </div>
                <!--/.row-->

                <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                    <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>

                </div>x
            </div>

        </div>

    </div>


;



    <div class="card-footer">
        <div class="row text-center">

            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Online</div>
                <strong step="0.01" type="number">{{this.TotOnlineUsers}} Online Users ({{this.persentageOnline}}%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 17%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Unregistered</div>
                <strong>{{this.TotUnregisteredUsers}} Unregistered Users ({{this.persentageUnregi}}%)</strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>


    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-6">

            <table class="table">
                <thead class="thead-dark">
                    <tr>

                        <th scope="col">Online Users</th>
                        <th scope="col">Type</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of onlineUser">
                        <td> {{user.payload.doc.data().FirstName }} {{user.payload.doc.data().LastName}}</td>
                        <td>{{user.payload.doc.data().UserType}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-dark">
                    <tr>

                        <th scope="col">Unregistered Users</th>
                        <th scope="col">Type</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of unregisteredUsers">
                        <td> {{user.payload.doc.data().FirstName }} {{user.payload.doc.data().LastName}}</td>
                        <td>{{user.payload.doc.data().UserType}}</td>
                        <td>{{user.payload.doc.data().email}}</td>
                        <td><button class="btn btn-success " (click)="verifyAccount(user.payload.doc.id)">Verify</button></td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>


</div>