<div>
    <div class="d-flex justify-content-between">
      <p>Pending Resolves</p>
      <button class="btn btn-danger" (click)="onClose()"><i class="fa fa-close" aria-hidden="true"></i></button>
    </div>
</div>

<div>
    <div class="parent" style="text-align: center;">
    
    </div>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Drug Name</th>
        <th>Quantity</th>
        <th>Pharmacist</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor = "let item of list">
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.qty}}</td>
        <td>{{item.pharmacy_name}}</td>
        <td><button class="btn btn-primary" (click)="view(item.id)" style="margin-right: 10px;">View Contact Details</button></td>
      </tr>
    </tbody>
  </table>
  